<footer class="text-center">
    <p><a href="">About Us</a> | <a href="">Terms and Conditions</a> | <a href="">Privacy Policy</a> | <a href="">Cookies Policy</a></p>
    &copy; Copyright 2022 - 2024
    <br><img src="../images/google-play-badge-en.png" width="175"> <img src="../images/app-store-en.svg" width="140">
</footer>